<%= form_with(model: message, class: "w-full text-xs") do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.limit_text_area :title, limit: 255, rows: 2, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", 
        "data-message-target": "title" %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <input id="x" type="hidden" name="message[content]" value="<%= message.content %>">
    <trix-editor input="x"></trix-editor>
  </div>

  <div class="my-5 relative"
    data-controller="select7"
    data-select7-suggest-api-value="<%= suggest_tags_path %>"
    data-select7-name-value="message[tags][]"
    data-select7-multiple-value="true">

      <%= form.label :tags %>
      
      <div data-select7-target="template" class="hidden border-2 border-gray-300 rounded-md pl-1 mr-1 flex justify-between items-center">
        <span class="text-center text-xs px-1 hover:rounded-full hover:bg-red-200 hover:cursor-pointer" data-action="click->select7#removeTag">x</span>
      </div>

    <div class="flex justify-start block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full overflow-auto">
      <div class="flex justify-start" data-select7-target="selected">
        <% message.channel&.split(" ") do |tag| %>
          <div class="border-2 border-gray-300 rounded-md pl-1 mr-1 flex justify-between items-center">
            <input type="hidden" name="message[tags][]" value="<%= tag %>">
            <span class="text-xs font-bold pointer-events-none"><%= tag %></span>
            <span class="text-center text-xs px-1 hover:rounded-full hover:bg-red-200 hover:cursor-pointer" data-action="click->select7#removeTag">x</span>
          </div>
        <% end %>
      </div>
      <input data-select7-target="input" data-action="input->select7#suggest" class="border-none outline-none" autocomplete="off">
    </div>
    <div data-select7-target="suggestion" class="hidden absolute bot-0 left-0 w-full h-20 overflow-y-auto drop-shadow-xl border-b-2 border-x-2 border-gray-200 z-51 bg-white"></div>
  </div>

  <%= form.check_box :auto_reply_enable %>
  <%= form.label "Enable Auto Reply ?" %>

  <%= form.limit_text_area :auto_reply, limit: 500, rows: 2, placeholder: "Thank you for interesting in this job, we'll contact to you soon!", 
        class: "block shadow rounded-md border border-gray-200 outline-none px-2 py-1 mt-1 w-full text-xs" %>

  <div class="inline">
    <%= form.submit "Submit", class: "rounded-lg mt-2 py-1 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
