<%= link_to message_path(message), id: dom_id(message), class: "text-sm", data: {"turbo-frame": "home-content"} do %>
  <div class="flex justify-start mb-3">
  
    <% applying_count = message.applyings.size %>
    <div class="h-1/2 py-2 px-3 bg-gray-200 text-gray-600 font-bold items-center text-center" title="<%= applying_count %> applied">
      <%= applying_count %>
    </div>

    <% cache message, expires_in: 30.seconds do %>
      <div class="bg-gray-50 hover:bg-green-50 w-full pl-2">
        <p class="text-gray-600 font-bold inline-block w-3/5">
          <span><%= message.title %> </span>
        </p>
        <p class="text-sm">
          <span class="text-gray-600 font-bold">Job#<%= message.id %></span>
          <% message.channel.split(" ").map {|t| t.gsub("#", "")}.each do |tag| %>
            <span class="font-light <%= tag.downcase %>">#</span><span class="font-light"><%= tag %></span>
          <% end %>
        </p>
        <p class="text-xs">
          <span data-controller="card" data-action="mouseenter->card#show mouseleave->card#hide mousedown->card#hide" data-card-url-value=<%= card_user_path(message.owner) %>>
          by <%= message.owner.name %> | <%= distance_of_time_in_words(message.created_at, Time.now.utc) %> ago | <%= message.views %> <%= 'view'.pluralize(message.views) %> </span>
        </p>
      </div>
      <%= turbo_stream_from message %>
    <% end %>
  </div>
<% end %>