<%= button_to message_path(message), id: dom_id(message), method: :get, class: "text-left text-sm w-full", data: {"turbo-frame": "home-content"} do %>
  <div class="flex justify-start mb-3">
    
    <%= user_card_tag message.owner do %>
      <%= image_tag message.owner.image, class: "object-cover h-16 w-16" %>
    <% end %>

    <% cache message, expires_in: 30.seconds do %>
      <div class="bg-gray-50 hover:bg-green-50 w-full pl-2">
        <p class="text-gray-600 font-bold inline-block w-3/5">
          <span><%= message.title %> </span>
        </p>
        <div class="text-sm flex justify-start">
          <span class="text-gray-900 font-light">#<%= message.id %></span>
          <% message.split_tags.each do |t| %>
            <span class="mx-1"><%= tag_link t %></span>
          <% end %>
        </div>
        <div class="flex justify-start text-xs">
          <span class="text-blue-700">
            <%= "by #{message.owner.name}" %> 
          </span>
          <span class="mx-1">
            <%= "#{distance_of_time_in_words(message.created_at, Time.now.utc)} ago |" %> 
          </span>
          <% if message.applyings_count && message.applyings_count > 0 %>
            <span class="mx-1">
              <%= "#{message.applyings_count} applied | " %>
            </span>
          <% end %>
          <span class="mx-1">
            <%= number_to_human(message.views, units: {million: 'M'}) %> <%= 'view'.pluralize(message.views) %>
          </span>
        </div>
      </div>
      <%= turbo_stream_from message %>
    <% end %>
  </div>
<% end %>