<div class="py-2 bg-zinc-100">
    <div class="container mx-auto pl-4 pr-2 pb-5" data-controller="message">
        <p class="font-bold underline underline-offset-4 mb-1">Messages</p>

        <%= button_to query_messages_path(tag: "#inbox"),
            class: "w-full text-left hover:bg-green-200",
            "data-action": "click->message#selectTag",
            form: { 
                id: "tag_inbox",
            } do %>
            <% render partial: "messages/tag", locals: {tag: "#inbox", count: 0, unread: false} %>
        <% end %>

        <%= button_to "# sent", query_messages_path(tag: "#sent"),
            id: "tag_sent",
            class: "w-full text-left hover:bg-green-200",
            "data-action": "click->message#selectTag",
            form: { 
                id: "form_sent",
            } %>

        <hr class="my-1">

        <%= turbo_stream_from :tags %>

        <div class="max-h-96 overflow-auto">
            <%= turbo_frame_tag "summary_tags" do %>
                <% @tags.each do |(tag, count)| %>
                    <%= render partial: "tags/summary_tag", locals: {tag: tag, count: count} %>
                <% end %>
            <% end %>
        </div>

        <%= turbo_frame_tag "add_watch_tag" do %>
            <%= render partial: "users/form_add_watch_tag" %>
        <% end %>
    </div>
</div>
