<% _tag = tag.gsub("#", "").downcase %>
<p id='<%= "tag_#{_tag}_content" %>' class=<%= unread ? "font-bold" : "" %>>
  <span class="<%= _tag %>">#</span>
  <span><%= _tag %></span>
  <span><%= count.to_i > 0 ? "(#{ number_to_human(count, units: {thousand: 'K', million: 'M'}) })" : '' %></span>
</p>