<%= turbo_frame_tag "home-content", class: "w-full p-1 sm:p-5" do %>
    <div id="messages_inbox" class="w-full sm:w-2/3 border border-gray-300 rounded-md">
      <div class="p-2 flex justify-between">
        <p>Inbox</p>
        <%= turbo_frame_tag "inbox-filter", src: filter_inbox_messages_path(job: @filter_jobid, user_id: @filter_userid, user_name: @filter_username), loading: :lazy %>
      </div>

      <%= render partial: "messages/applying", collection: @messages, as: :applying, locals: @locals %>

      <%= turbo_frame_tag "load_more" do %>
          <% if offset %>
              <%= button_to "load more", query_messages_path(tag: tag, offset: offset), class: "text-xs text-blue-600" %>
          <% end %>
      <% end %>

    </div>
<% end %>