<%= turbo_stream_from :messages %>
<div class="w-full p-5" data-controller="message">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold">Recently Messages</h1>

  <%= turbo_frame_tag "messages", class: "w-full" do %>
  <div id="messages" class="w-full">
    <%= render @messages %>
  </div>
  <% end %>

  <%= render partial: "messages/form", locals: {message: Message.new} %>
</div>
