<div class="flex justify-start">
    <%= user_card_tag owner, class: "font-bold" %>
    <span class="mx-1">updated time of the</span> 
    <%= interview_link_tag interview %>
</div>
<p>Start Time: <span class="bg-gray-200"><%= interview.start_time.in_time_zone(timezone).strftime('%F %R %:z') %></span></p>
<p>End Time: <span class="bg-gray-200"><%= interview.end_time.in_time_zone(timezone).strftime('%F %R %:z') %></span></p>

<% if (interviewers = interview.interviewers).present? %>
  <%= render partial: "replies/cc", locals: {users: interviewers} %>
<% end %>