<%= turbo_frame_tag "interviews" do %>
    <%= turbo_stream_from :interviews %>
    <% @daily_interviews&.each do |interview| %>
        <%= turbo_stream_from interview %>
    <% end %>
    <table class="w-full table-fixed mt-10">
        <tbody>
        <tr>
            <th class="w-14 text-xs border-b-2 border-r-2 border-gray-200 mb-5" title="<%= current_user.curr_timezone %>">
                GMT<%= @tz_offset %>
            </th>
            <th class="w-full border-b-2 border-gray-200 mb-5"><%= @target_date_timezone.strftime("%A") %></th>
        </tr>
        <% (6..29).each do |hour| %>
            <tr>
                <td class="w-14 border-b-2 border-r-2 border-gray-200 text-xs"><%= strftime(hours: hour%24) %></td>
                <td class="w-full h-10 border-b-2 border-gray-200 relative">
                    <% if display = @daily_display[hour] %>
                        <div id="interview-<%= display[:id] %>-timespan-daily<%= @tz_offset %>" 
                            class="absolute top_<%= display[:top] %> left-1/5 w-full h_<%= display[:height] %> bg-red-200 z-10 flex items-center">
                            <div class="flex flex-col-reverse items-center p-2"
                                data-controller="card"
                                data-action="mouseenter->card#show mouseleave->card#hide"
                                data-card-url-value="<%= card_interview_path(display[:id]) %>">
                                <%= link_to display[:text], edit_interview_path(display[:id]), data: {"turbo-frame": "modal"} %>
                            </div>
                        </div>
                    <% else %>
                        <div id="interview-<%= @target_date_timezone.strftime('%F') + "-#{hour}" %>-daily<%= @tz_offset %>" class="w-full">
                            <% suggest_time = @target_date_timezone.beginning_of_day + hour.hours %>
                            <%= link_to "  place holder ", 
                                new_interview_path(
                                    start_time: suggest_time.strftime('%Y-%m-%dT%H:%M'), 
                                    end_time: (suggest_time + 1.hour).strftime('%Y-%m-%dT%H:%M')), 
                                data: {"turbo-frame": "modal"}, class: "text-transparent block w-full" %>
                        </div>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>