<%= turbo_frame_tag "interviews" do %>
<table class="w-full table-fixed mt-10">
    <tbody>
    <tr>
        <th class="w-14 text-xs"></th>
        <th class="border-b-2 border-l-2 border-gray-200">Sun</th>
        <th class="border-b-2 border-l-2 border-gray-200 bg-gray-50">Mon</th>
        <th class="border-b-2 border-l-2 border-gray-200">Tue</th>
        <th class="border-b-2 border-l-2 border-gray-200 bg-gray-50">Wed</th>
        <th class="border-b-2 border-l-2 border-gray-200">Thu</th>
        <th class="border-b-2 border-l-2 border-gray-200 bg-gray-50">Fri</th>
        <th class="border-b-2 border-l-2 border-gray-200">Sat</th>
    </tr>
    <% (0..4).each do |week| %>
    <tr>
        <td class="w-14 h-10 border-r-2 border-t-2 border-gray-200"></td>
        <% (0..6).each do |weekday| %>
            <% if month_day = @month_days[index = weekday + week*7] %>
                <td class="relative h-40 border-r-2 border-b-2 border-gray-200 <%= index%2==0 ? 'bg-gray-50' : '' %>">
                    <div class="<%= @mday == month_day.mday ? 'bg-blue-500' : 'bg-blue-100' %> w-6 absolute top-px right-px text-center"><%= month_day.mday %></div>
                    <% @monthly_interviews[month_day.mday]&.each do |interview| %>
                        <div class="m-2 text-xs text-red-300 border-2 border-red-500 bg-red-50 hover:cursor-pointer"
                            data-controller="card"
                            data-action="mouseenter->card#show mouseleave->card#hide"
                            data-card-url-value="<%= card_interview_path(interview.id) %>">
                                <%= interview.note&.slice(0, 28) %>...
                        </div>
                    <% end %>
                </td>
            <% else %>
                <td class="h-40 border-r-2 border-b-2 border-gray-200 <%= index%2==0 ? 'bg-gray-50' : '' %>"></td>
            <% end %>
        <% end %>
    </tr>
    <% end %>
    </tbody>
</table>
<% end %>