<%= turbo_frame_tag "interviews" do %>
    <table class="w-full table-fixed mt-10">
    <tbody>
        <tr>
            <th class="text-sm border-b-2 border-r-2 border-gray-200 mb-5">Note</th>
            <th class="text-sm w-56 border-b-2 border-r-2 border-gray-200 mb-5">Start Time</th>
            <th class="text-sm w-56 border-b-2 border-gray-200 mb-5">End Time</th>
        </tr>

    <% @interviews.each do |interview| %>
        <%= tag.tr do |tag| %>
            <%= tag.td(interview.note, class: "w-full px-5 py-5 text-xs border-b-2 border-r-2 border-gray-300") %>
            <%= tag.td(interview.start_time, class: "w-full px-5 py-5 text-xs border-b-2 border-r-2 border-gray-300") %>
            <%= tag.td(interview.end_time, class: "w-full px-5 py-5 text-xs border-b-2 border-gray-300") %>
        <% end %>
    <% end %>
    </tbody>
    </table>
<% end %>