<%= turbo_frame_tag "interviews" do %>
    <% if @interviews.empty? && params[:offset].nil? %>
        <div class="w-full h-full p-10 m-10 bg-gray-50 text-center"><span class="font-bold">No Result</span></div>
    <% else %>
        <% @interviews.each do |interview| %>
            <div class="mt-10 mb-3 mx-5 text-xs">
                <%= link_to show_state(interview) + interview.title, interview_path(interview), data: {turbo: false}, class: "font-bold hover:underline" %>
                <p>interviewers: 
                    <% interview.interviewers.each do |interviewer| %>
                        <span class="font-bold"><%= interviewer.name %></span><span class="mr-1"><%= "<#{interviewer.email}>" %></span>
                    <% end %>
                </p>
                <p>candidate: <span class="font-bold"><%= interview.candidate.name %></span><span><%= "<#{interview.candidate.email}>" %></span></p>
                <p>round: <%= interview.round %></p>
                <p>start Time: <%= interview.start_time.in_time_zone(current_user.curr_timezone).strftime('%F %R') %></p>
                <p>end Time: <%= interview.end_time.in_time_zone(current_user.curr_timezone).strftime('%F %R') %></p>
            </div>
            <hr>
        <% end %>

        <div class="w-60 flex justify-start mb-10">
            <%= link_to "/interviews/search?keyword=#{params[:keyword]}&offset=#{@prev_offset}", method: :get, 
                    class: "text-xl text-center mt-5", title: "previous page" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                    <polyline fill="none" stroke="#aaa" stroke-width="4" points="7 2 17 12 7 22" transform="matrix(-1 0 0 1 24 0)"/>
                </svg>
            <% end %>
            <%= link_to "/interviews/search?keyword=#{params[:keyword]}&offset=#{@next_offset}", method: :get, 
                    class: "text-xl text-center mt-5 mr-2", title: "next page" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                    <polyline fill="none" stroke="#aaa" stroke-width="4" points="7 2 17 12 7 22" />
                </svg>
            <% end %>
        </div>
    <% end %>
<% end %>
