<%= turbo_frame_tag "interviews" do %>
<table class="w-full table-fixed mt-10">
    <tbody>
    <tr>
        <th class="w-14 text-xs">GMT+7</th>
        <th class="border-l-2 border-gray-200 bg-gray-50">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 1 ? 'bg-blue-200 rounded-md' : '' %>">Mon</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 1 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[0].strftime("%d") %></span></div>
            </div>
        </th>
        <th class="border-l-2 border-gray-200">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 2 ? 'bg-blue-200 rounded-md' : '' %>">Tue</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 2 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[1].strftime("%d") %></span></div>
            </div>
        </th>
        <th class="border-l-2 border-gray-200 bg-gray-50">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 3 ? 'bg-blue-200 rounded-md' : '' %>">Wed</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 3 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[2].strftime("%d") %></span></div>
            </div>
        </th>
        <th class="border-l-2 border-gray-200">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 4 ? 'bg-blue-200 rounded-md' : '' %>">Thu</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 4 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[3].strftime("%d") %></span></div>
            </div>
        </th>
        <th class="border-l-2 border-gray-200 bg-gray-50">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 5 ? 'bg-blue-200 rounded-md' : '' %>">Fri</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 5 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[4].strftime("%d") %></span></div>
            </div>
        </th>
        <th class="border-l-2 border-gray-200">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 6 ? 'bg-blue-200 rounded-md' : '' %>">Sat</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 6 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[5].strftime("%d") %></span></div>
            </div>
        </th>
        <th class="border-l-2 border-gray-200">
            <div>
                <div><span class="w-20 px-1 <%= @wday == 0 ? 'bg-blue-200 rounded-md' : '' %>">Sun</span></div>
                <div class="px-1"><span class="w-10 <%= @wday == 0 ? 'bg-blue-200' : 'bg-zinc-200' %> rounded-md"><%= @week_dates[6].strftime("%d") %></span></div>
            </div>
        </th>
    </tr>
    <% (310..(1440 + 300)).each do |t| %>
        <% week_interviews, hour_row = weekly_row(t) %>
        <% unless week_interviews.empty? && hour_row.nil? %>
        <tr>
            <% if hour_row && hour_row >= 0 %>
                <td class="w-14 border-b-2 border-gray-400 text-xs"><%= strftime(hours: hour_row) %></td>
            <% else %>
                <td class="w-14 h-0"></td>
            <% end %>

            <% if week_interviews %>
                <% (1..7).each do |weekday| %>
                    <% if interview_display = week_interviews[weekday%7] %>
                        <% if interview_display[:part] == :start %>
                            <td class="w-full bg-red-50 text-xs text-red-400 border-l-2 border-t-2 border-r-2 border-red-500 pl-1 hover:cursor-pointer">
                                <span class="font-bold"><%= interview_display[:content] %></span>
                            </td>
                        <% elsif interview_display[:part] == :middle %>
                            <td class="w-full bg-red-50 text-xs text-red-400 border-l-2 border-r-2 border-red-500 pl-1 hover:cursor-pointer"
                                data-controller="card"
                                data-action="mouseenter->card#show mouseleave->card#hide"
                                data-card-url-value="<%= card_interview_path(interview_display[:id]) %>">
                                <% if interview_display[:content] %>
                                    <span class="font-bold"><%= interview_display[:content] %></span>
                                <% end %>
                            </td>
                        <% elsif interview_display[:part] == :end %>
                            <td class="w-full bg-red-50 text-xs text-red-400 border-l-2 border-r-2 border-b-2 border-red-500 pl-1 hover:cursor-pointer">
                                <% if interview_display[:content] %>
                                    <span class="font-bold"><%= interview_display[:content] %></span>
                                <% end %>
                            </td>
                        <% end %>
                    <% else %>
                        <%= tag.td(class: "w-full border-l-2 #{hour_row && hour_row >= 0 ? 'border-b-2' : '' } border-gray-200  #{weekday%2==1 ? 'bg-gray-50' : ''}") %>
                    <% end %>
                <% end %>
            <% else %>
                <% (1..7).each do |weekday| %>
                    <%= tag.td(class: "w-full border-l-2 #{hour_row && hour_row >= 0 ? 'border-b-2' : '' } border-gray-200  #{weekday%2==1 ? 'bg-gray-50' : ''}") %>
                <% end %>
            <% end %>
        </tr>
        <% end %>
    <% end %>
    </tbody>
</table>
<% end %>