<%= render "layouts/modal" do %>
  <div class="mx-auto w-full">
    <%= form_with(model: @interview, class: "contents") do |form| %>
        <div class="my-5">
            <%= form.label :start_time %>
            <%= form.datetime_field :start_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
                :value => @interview.start_time.in_time_zone(current_user.curr_timezone).strftime('%Y-%m-%dT%H:%M') %>
        </div>

        <div class="my-5">
            <%= form.label :end_time %>
            <%= form.datetime_field :end_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
                :value => @interview.end_time.in_time_zone(current_user.curr_timezone).strftime('%Y-%m-%dT%H:%M') %>
        </div>

        <%= form.submit "Confirm", class: "rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>
  </div>
<% end %>