<% if @finished %>
  <p>This Interview Is Finished.</p>
<% elsif @countdown > 0 %>
  <p class="mx-auto mt-10">This Interview Will Start About: <span class="ml-1 font-bold" data-controller="countdown" data-countdown-time-value="<%= @countdown %>" data-countdown-redirecturl-value="<%= interview_path(@interview)%>"></span></p>
<% else %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/tomorrow-night-blue.min.css", "data-turbo-track": "reload", class: "codestyle" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css", "data-turbo-track": "reload", class: "codestyle" %>
  <%= javascript_import_module_tag("interview") %>

  <%= interview_stream @interview %>
<% end %>