<%= turbo_frame_tag "profile" do %>
  <div class="flex justify-start p-2 sm:px-5 sm:pt-5 relative">
    <img src="<%= user.image %>" class="object-cover h-24 w-24" />
    <div class="ml-2">
      <p class="text-lg text-blue-300 font-bold"><%= user.name %></p>
      <p class="text-blue-300 font-light"><%= user.email %></p>
      <div class="my-1 flex justify-start">

        <% unless (github = user.social_links['github']).blank? %>
        <a href="<%= github %>" class="flex items-center mx-1" target="blank">
          <span><?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="16px" height="16px" viewBox="0 0 256 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
              <title>Github</title>
              <g>
                <path d="M128.00106,0 C57.3172926,0 0,57.3066942 0,128.00106 C0,184.555281 36.6761997,232.535542 87.534937,249.460899 C93.9320223,250.645779 96.280588,246.684165 96.280588,243.303333 C96.280588,240.251045 96.1618878,230.167899 96.106777,219.472176 C60.4967585,227.215235 52.9826207,204.369712 52.9826207,204.369712 C47.1599584,189.574598 38.770408,185.640538 38.770408,185.640538 C27.1568785,177.696113 39.6458206,177.859325 39.6458206,177.859325 C52.4993419,178.762293 59.267365,191.04987 59.267365,191.04987 C70.6837675,210.618423 89.2115753,204.961093 96.5158685,201.690482 C97.6647155,193.417512 100.981959,187.77078 104.642583,184.574357 C76.211799,181.33766 46.324819,170.362144 46.324819,121.315702 C46.324819,107.340889 51.3250588,95.9223682 59.5132437,86.9583937 C58.1842268,83.7344152 53.8029229,70.715562 60.7532354,53.0843636 C60.7532354,53.0843636 71.5019501,49.6441813 95.9626412,66.2049595 C106.172967,63.368876 117.123047,61.9465949 128.00106,61.8978432 C138.879073,61.9465949 149.837632,63.368876 160.067033,66.2049595 C184.49805,49.6441813 195.231926,53.0843636 195.231926,53.0843636 C202.199197,70.715562 197.815773,83.7344152 196.486756,86.9583937 C204.694018,95.9223682 209.660343,107.340889 209.660343,121.315702 C209.660343,170.478725 179.716133,181.303747 151.213281,184.472614 C155.80443,188.444828 159.895342,196.234518 159.895342,208.176593 C159.895342,225.303317 159.746968,239.087361 159.746968,243.303333 C159.746968,246.709601 162.05102,250.70089 168.53925,249.443941 C219.370432,232.499507 256,184.536204 256,128.00106 C256,57.3066942 198.691187,0 128.00106,0 Z M47.9405593,182.340212 C47.6586465,182.976105 46.6581745,183.166873 45.7467277,182.730227 C44.8183235,182.312656 44.2968914,181.445722 44.5978808,180.80771 C44.8734344,180.152739 45.876026,179.97045 46.8023103,180.409216 C47.7328342,180.826786 48.2627451,181.702199 47.9405593,182.340212 Z M54.2367892,187.958254 C53.6263318,188.524199 52.4329723,188.261363 51.6232682,187.366874 C50.7860088,186.474504 50.6291553,185.281144 51.2480912,184.70672 C51.8776254,184.140775 53.0349512,184.405731 53.8743302,185.298101 C54.7115892,186.201069 54.8748019,187.38595 54.2367892,187.958254 Z M58.5562413,195.146347 C57.7719732,195.691096 56.4895886,195.180261 55.6968417,194.042013 C54.9125733,192.903764 54.9125733,191.538713 55.713799,190.991845 C56.5086651,190.444977 57.7719732,190.936735 58.5753181,192.066505 C59.3574669,193.22383 59.3574669,194.58888 58.5562413,195.146347 Z M65.8613592,203.471174 C65.1597571,204.244846 63.6654083,204.03712 62.5716717,202.981538 C61.4524999,201.94927 61.1409122,200.484596 61.8446341,199.710926 C62.5547146,198.935137 64.0575422,199.15346 65.1597571,200.200564 C66.2704506,201.230712 66.6095936,202.705984 65.8613592,203.471174 Z M75.3025151,206.281542 C74.9930474,207.284134 73.553809,207.739857 72.1039724,207.313809 C70.6562556,206.875043 69.7087748,205.700761 70.0012857,204.687571 C70.302275,203.678621 71.7478721,203.20382 73.2083069,203.659543 C74.6539041,204.09619 75.6035048,205.261994 75.3025151,206.281542 Z M86.046947,207.473627 C86.0829806,208.529209 84.8535871,209.404622 83.3316829,209.4237 C81.8013,209.457614 80.563428,208.603398 80.5464708,207.564772 C80.5464708,206.498591 81.7483088,205.631657 83.2786917,205.606221 C84.8005962,205.576546 86.046947,206.424403 86.046947,207.473627 Z M96.6021471,207.069023 C96.7844366,208.099171 95.7267341,209.156872 94.215428,209.438785 C92.7295577,209.710099 91.3539086,209.074206 91.1652603,208.052538 C90.9808515,206.996955 92.0576306,205.939253 93.5413813,205.66582 C95.054807,205.402984 96.4092596,206.021919 96.6021471,207.069023 Z" fill="#161614"></path>
              </g>
            </svg>
          </span>
        </a>
        <% end %>

        <% unless (blog = user.social_links['blog']).blank? %>
        <a href="<%= blog %>" class="flex items-center mx-1" target="blank">
          <svg width="16px" height="16px" 
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" viewBox="0 0 413 412" width="0.991323in" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Blog</title>
            <defs>
              <style type="text/css">
              <![CDATA[
                .str0 {stroke:black;stroke-width:2.89202}
                .fil0 {fill:black}
              ]]>
              </style>
            </defs>
            <g id="Layer_x0020_1"><g id="_298676536"><path class="fil0" d="M244 257l-75 0c-8,0 -13,-6 -13,-13 0,-7 5,-12 13,-12l75 0c7,0 13,5 13,12 0,7 -6,13 -13,13zm-75 -102l37 0c7,0 13,6 13,13 0,7 -6,13 -13,13l-37 0c-8,0 -13,-6 -13,-13 0,-7 5,-13 13,-13zm143 33l-2 -3 -3 -3c-4,-3 -24,0 -29,-4 -4,-4 -5,-10 -6,-18 -2,-17 -3,-18 -6,-23 -9,-20 -34,-34 -51,-37l-47 0c-37,0 -67,31 -67,67l0 33 0 45c0,37 30,67 67,67l77 0c37,0 67,-30 67,-67l0 -44 0 -10 0 -3z"/><path class="fil0 str0" d="M411 207c-1,113 -92,204 -205,204 -113,0 -205,-92 -205,-205 0,-113 92,-205 205,-205l205 0 0 206 0 0zm-205 -184c101,0 183,82 183,183l0 1c0,101 -82,182 -183,182 -101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183z"/></g></g>
          </svg>
        </a>
        <% end %>

        <% if (dev = user.social_links['dev.to']).present? %>
        <a href="<%= dev %>" class="flex items-center mx-1" target="blank">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="16px" height="16px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <title>Dev.to</title>
            <path fill="currentColor" d="M7.826 10.083a.784.784 0 0 0-.468-.175h-.701v4.198h.701a.786.786 0 0 0 .469-.175c.155-.117.233-.292.233-.525v-2.798c.001-.233-.079-.408-.234-.525zM19.236 3H4.764C3.791 3 3.002 3.787 3 4.76v14.48c.002.973.791 1.76 1.764 1.76h14.473c.973 0 1.762-.787 1.764-1.76V4.76A1.765 1.765 0 0 0 19.236 3zM9.195 13.414c0 .755-.466 1.901-1.942 1.898H5.389V8.665h1.903c1.424 0 1.902 1.144 1.903 1.899v2.85zm4.045-3.562H11.1v1.544h1.309v1.188H11.1v1.543h2.142v1.188h-2.498a.813.813 0 0 1-.833-.792V9.497a.813.813 0 0 1 .792-.832h2.539l-.002 1.187zm4.165 4.632c-.531 1.235-1.481.99-1.906 0l-1.548-5.818h1.309l1.193 4.569l1.188-4.569h1.31l-1.546 5.818z"/>
          </svg>
        </a>
        <% end %>

        <% unless (medium = user.social_links['medium']).blank? %>
        <a href="<%= medium %>" class="flex items-center mx-1" target="blank">
          <svg width="16px" height="16px" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Medium</title>
            <rect height="24" id="Artboard12" style="fill:none;" width="24" x="0" y="0"/><g><rect height="20" width="20" x="2" y="2"/><path d="M18.602,6.448l-3.698,0l-2.631,6.621l-2.99,-6.621l-3.951,0l0,0.329l1.392,1.701l-0.019,6.57l-1.376,1.878l0.003,0.311l3.886,0l0.01,-0.286l-1.628,-1.903l0.043,-5.317l3.433,7.506l0.414,0l3.049,-7.684l0,6.25l-1.25,1.182l0,0.252l5.313,0l0,-0.302l-1.218,-1.155l-0.017,-7.946l1.235,-1.055l0,-0.331Z" style="fill:#fff;"/></g>
          </svg>
        </a>
        <% end %>

        <% if (leetcode = user.social_links['leetcode']).present? %>
        <a href="<%= leetcode %>" class="flex items-center mx-1" target="blank">
          <svg width="16px" height="16px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg">
            <title>LeetCode</title>
            <path d="M16.102 17.93l-2.697 2.607c-.466.467-1.111.662-1.823.662s-1.357-.195-1.824-.662l-4.332-4.363c-.467-.467-.702-1.15-.702-1.863s.235-1.357.702-1.824l4.319-4.38c.467-.467 1.125-.645 1.837-.645s1.357.195 1.823.662l2.697 2.606c.514.515 1.365.497 1.9-.038.535-.536.553-1.387.039-1.901l-2.609-2.636a5.055 5.055 0 0 0-2.445-1.337l2.467-2.503c.516-.514.498-1.366-.037-1.901-.535-.535-1.387-.552-1.902-.038l-10.1 10.101c-.981.982-1.494 2.337-1.494 3.835 0 1.498.513 2.895 1.494 3.875l4.347 4.361c.981.979 2.337 1.452 3.834 1.452s2.853-.512 3.835-1.494l2.609-2.637c.514-.514.496-1.365-.039-1.9s-1.386-.553-1.899-.039zM20.811 13.01H10.666c-.702 0-1.27.604-1.27 1.346s.568 1.346 1.27 1.346h10.145c.701 0 1.27-.604 1.27-1.346s-.569-1.346-1.27-1.346z"/>
          </svg>
        </a>
        <% end %>

        <% if (hackerrank = user.social_links['hackerrank']).present? %>
        <a href="<%= hackerrank %>" class="flex items-center mx-1" target="blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 32 32">
            <title>HackerRank</title>
            <path d="M16 0c1.714 0 13 6.516 13.854 8 0.859 1.484 0.859 14.516 0 16s-12.141 8-13.854 8c-1.714 0-13-6.516-13.859-8-0.854-1.484-0.854-14.516 0-16 0.859-1.484 12.146-8 13.859-8zM19.063 9.068c-0.193 0-0.349 0.151-0.349 0.344v5.167h-5.427v-5.37h0.932c0.188 0 0.339-0.151 0.339-0.344 0-0.125-0.068-0.234-0.161-0.292l-2.099-2.010c-0.063-0.089-0.188-0.146-0.302-0.146-0.109 0-0.214 0.057-0.276 0.141l-2.24 2.016c-0.094 0.063-0.161 0.167-0.161 0.292 0 0.188 0.151 0.344 0.344 0.344h0.938l0.010 13.38c0 0.193 0.146 0.344 0.339 0.344h1.99c0.188 0 0.344-0.151 0.344-0.344v-5.339h5.432v5.536h-0.932c-0.193 0-0.344 0.156-0.344 0.344 0 0.125 0.068 0.234 0.161 0.292l2.104 2.016c0.057 0.083 0.188 0.146 0.302 0.146s0.208-0.063 0.276-0.146l2.24-2.016c0.094-0.057 0.161-0.167 0.161-0.292 0-0.188-0.156-0.344-0.344-0.344h-0.938l-0.010-13.375c0-0.198-0.151-0.349-0.339-0.349h-1.99z"/>
          </svg>
        </a>
        <% end %>

        <% if (stackoverflow = user.social_links['stackoverflow']).present? %>
          <a href="<%= stackoverflow %>" class="flex items-center mx-1" target="blank">
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="16px" height="16px">
              <title>StackOverflow</title>
              <path d="M 29.164062 5.0097656 A 1.50015 1.50015 0 0 0 27.962891 7.4492188 L 38.427734 20.845703 A 1.5006806 1.5006806 0 0 0 40.792969 18.998047 L 30.326172 5.6015625 A 1.50015 1.50015 0 0 0 29.164062 5.0097656 z M 23.386719 10.646484 A 1.50015 1.50015 0 0 0 22.466797 13.324219 L 35.679688 24.023438 A 1.50015 1.50015 0 1 0 37.566406 21.691406 L 24.355469 10.994141 A 1.50015 1.50015 0 0 0 23.386719 10.646484 z M 19.025391 17.429688 A 1.50015 1.50015 0 0 0 18.435547 20.287109 L 33.714844 27.738281 A 1.5002521 1.5002521 0 1 0 35.029297 25.041016 L 19.75 17.589844 A 1.50015 1.50015 0 0 0 19.025391 17.429688 z M 16.451172 25.009766 A 1.50015 1.50015 0 0 0 16.072266 27.974609 L 32.636719 31.798828 A 1.50015 1.50015 0 1 0 33.310547 28.876953 L 16.748047 25.052734 A 1.50015 1.50015 0 0 0 16.451172 25.009766 z M 8.4765625 29.978516 A 1.50015 1.50015 0 0 0 7 31.5 L 7 39.5 C 7 41.414955 8.5850452 43 10.5 43 L 37.5 43 C 39.414955 43 41 41.414955 41 39.5 L 41 31.5 A 1.50015 1.50015 0 1 0 38 31.5 L 38 39.5 C 38 39.795045 37.795045 40 37.5 40 L 10.5 40 C 10.204955 40 10 39.795045 10 39.5 L 10 31.5 A 1.50015 1.50015 0 0 0 8.4765625 29.978516 z M 15.5 33 A 1.50015 1.50015 0 1 0 15.5 36 L 32.5 36 A 1.50015 1.50015 0 1 0 32.5 33 L 15.5 33 z"/>
            </svg>
          </a>
        <%end %>

        <% if (codeforces = user.social_links['codeforces']).present? %>
          <a href="<%= codeforces %>" class="flex items-center mx-1" target="blank">
            <svg width="16px" height="16px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg">
            <title>Codeforces</title>
            <path d="M4.5 7.5C5.328 7.5 6 8.172 6 9v10.5c0 .828-.672 1.5-1.5 1.5h-3C.673 21 0 20.328 0 19.5V9c0-.828.673-1.5 1.5-1.5h3zm9-4.5c.828 0 1.5.672 1.5 1.5v15c0 .828-.672 1.5-1.5 1.5h-3c-.827 0-1.5-.672-1.5-1.5v-15c0-.828.673-1.5 1.5-1.5h3zm9 7.5c.828 0 1.5.672 1.5 1.5v7.5c0 .828-.672 1.5-1.5 1.5h-3c-.828 0-1.5-.672-1.5-1.5V12c0-.828.672-1.5 1.5-1.5h3z"/>
            </svg>
        <% end %>

        <% unless (linkedin = user.social_links['linkedin']).blank? %>
          <a href="<%= linkedin %>" class="flex items-center mx-1" target="blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24">
              <title>Linkedin</title>
              <path d="M0 0v24h24v-24h-24zm8 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.397-2.586 7-2.777 7 2.476v6.759z"/>
            </svg>
          </a>
        <% end %>

        <% unless (twitter = user.social_links['twitter']).blank? %>
        <a href="<%= twitter %>" class="flex items-center mx-1" target="blank">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            x="0px" y="0px" width="16px" height="16px" viewBox="0 0 32 32"
            style="enable-background:new 0 0 32 32;" xml:space="preserve">
            <title>Twitter</title>
            <g>
              <path d="M0,0v32h32V0H0z M23.754,12.022c0.008,0.172,0.012,0.345,0.012,0.519c0,5.285-4.021,11.383-11.383,11.383   c-2.26,0-4.361-0.66-6.133-1.797c0.314,0.035,0.632,0.055,0.955,0.055c1.875,0,3.599-0.639,4.968-1.712   c-1.75-0.032-3.228-1.188-3.736-2.776c0.244,0.047,0.494,0.07,0.752,0.07c0.365,0,0.719-0.049,1.054-0.143   c-1.828-0.367-3.209-1.983-3.209-3.922c0-0.017,0-0.033,0-0.05c0.541,0.3,1.157,0.479,1.813,0.5   c-1.073-0.717-1.779-1.942-1.779-3.332c0-0.731,0.197-1.42,0.542-2.01c1.972,2.42,4.921,4.015,8.245,4.18   c-0.067-0.293-0.104-0.598-0.104-0.911c0-2.209,1.791-4,4.002-4c1.147,0,2.188,0.485,2.919,1.264   c0.91-0.18,1.768-0.514,2.541-0.971c-0.3,0.935-0.934,1.719-1.759,2.213c0.81-0.097,1.58-0.312,2.297-0.629   C25.214,10.756,24.536,11.459,23.754,12.022z"/>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>
        </a>
        <% end %>

      </div>

      <hr class="mt-2">
      <p class="inline-block align-middle text-xs font-light">
        <% if user.afk? && editable %>
          <%= "Your watch-tags section is currently blank. Would you like to add one?" %>
        <% else %>
          <% user.split_tags.each do |tag| %>
            <span class="<%= format(tag) %>">#</span>
            <span class="-ml-1"><%= tag %></span>
          <% end %>
        <% end %>
      </p>

      <% if editable %>
          <%= link_to edit_profile_user_path(user), 
            class: "absolute -top-2 -right-2 bg-green-300 hover:bg-green-600 p-1 flex items-center", 
            title: "edit" do %>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 494.936 494.936" style="enable-background:new 0 0 494.936 494.936;" xml:space="preserve">
              <g>
                  <g>
                      <path d="M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157    c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21    s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741    c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z"/>
                      <path d="M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069    c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963    c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692    C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107    l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005    c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z"/>
                  </g>
              </g>
              </svg>

              <span class="text-xs">edit</span>
          <% end %>
      <% end %>
    </div>
  </div>

  <p class="text-xs px-5 py-2"><%= user.brief_intro %></p>

  <div class="flex justify-between pb-1 px-4">
    <p class="inline-block align-middle text-xs font-light">
        <% if user.messages_count > 0 %>
        <span class="text-orange-600" title="#jobs">#<%= number_to_human(user.messages_count, units: {thousand: 'K', million: 'M'}) %><%= "job".pluralize(user.messages_count) %></span>
        <% end %>

        <% if user.interviews_count > 0 %>
        <span class="text-purple-700" title="#interviews">#<%= number_to_human(user.interviews_count, units: {thousand: 'K', million: 'M'}) %><%= "interview".pluralize(user.interviews_count) %></span>
        <% end %>
    </p>
    
    <div class="flex justify-end">
      <%= link_to "+ contact", 
        new_contact_path(friend_id: user.id),
        data: {turbo_frame: :modal},
        "data-action": "click->card#forceHide", 
        class: "border border-gray-300 rounded-md hover:bg-gray-200 mx-1 px-1 text-blue-300" %>

      <%= link_to "chat", 
        private_chat_user_path(user), 
        data: {turbo_frame: "chat-form", action: "click->card#forceHide"}, 
        class: "border border-gray-300 rounded-md hover:bg-gray-200 mx-1 px-1 text-blue-300" %>
    </div>
  </div>
<% end %>