<%= turbo_frame_tag "watch_tags" do %>
  <%= form_with(model: current_user, class: "w-2/3 mx-auto") do |form| %>
    <% if current_user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this current_user from being saved:</h2>

        <ul>
          <% current_user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :watch_tags %>
      <div class="my-5 relative" data-controller="select7" data-select7-suggest-api-value="<%= suggest_tags_path %>" data-select7-attr-value="user[tags][]">
        <div class="flex justify-start block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full overflow-auto">
          <div class="flex justify-start" data-select7-target="tagsContainer">
            <% @tags.each do |tag| %>
              <%= render partial: "shared/select7_item", locals: {attr: "user[tags][]", name: tag, hidden: false} %>
            <% end %>
          </div>
          <input data-select7-target="input" data-action="input->select7#suggest", class="border-none outline-none bg-transparent">
        </div>
        <div data-select7-target="suggestionTags" class="hidden absolute bot-0 left-0 w-full h-20 overflow-y-auto drop-shadow-xl border-b-2 border-x-2 border-gray-200 z-51 bg-white"></div>
      </div>
    </div>

    <input type="hidden" id="partial" name="partial" value="tags" />
    <div class="flex justify-end">
      <%= form.submit "Update", class: "rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium" %>
    </div>
  <% end %>
<% end %>