<%= turbo_frame_tag "cv" do %>
  <%= form_with(model: current_user, class: "contents") do |form| %>
    <% if current_user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this current_user from being saved:</h2>

        <ul>
          <% current_user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5 px-2">
      <%= form.label :your_profile, class: "underline" %>
      <input id="x" type="hidden" name="user[cv]" value="<%= current_user.cv %>">
      <trix-editor input="x"></trix-editor>
    </div>

    <input type="hidden" id="partial" name="partial" value="cv" />
    <div class="flex justify-end mr-5 mb-2">
      <%= link_to "Cancel", profile_user_path(current_user), class: "rounded-sm border p-2 inline-block font-medium cursor-pointer hover:border-gray-900 mx-1" %>
      <%= form.submit "Update", class: "rounded-sm border p-2 inline-block font-medium cursor-pointer bg-green-600 hover:border-gray-900" %>
    </div>
  <% end %>
<% end %>