<div class="w-full m-5">
    <%= render 'layouts/header' %>
    
    <% editable = @user.id == current_user.id %>
    <div class="w-full mt-10 mx-auto p-5 relative flex justify-start">
      <div class="sticky top-0 left-0 w-1/3 h-1/3 bg-zinc-100 mr-5 p-2">
        <%= render partial: "users/summary", locals: {user: @user, editable: editable} %>
      </div>

      <div class="w-2/3">
        <div class="bg-white rounded-sm border border-gray-100 bg-zinc-100">
          <%= render partial: "users/cv", locals: {user: @user, editable: editable} %>
        </div>
        
        <% if @user.messages_count > 0 %>
        <div class="my-5 p-1">
          <label class="font-bold"><%= number_to_human(@user.interviews_count, units: {thousand: 'K', million: 'M'}) %> interviews / <%= number_to_human(@user.messages_count, units: {thousand: 'K', million: 'M'}) %> jobs</label>
          <hr class="mb-2">

          <%= turbo_frame_tag messages_by_me_id(current_user), class: "w-full" do %>
            <%= render @messages %>
          <% end %>

          <%= turbo_frame_tag "load_more" do %>
            <% if @next_offset %>
              <%= button_to "load more", by_me_messages_path(user: @user.id, offset: @next_offset), class: "text-sm text-blue-600" %>
            <% end %>
          <% end %>

        </div>
        <% end %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
</div>