<% @users.each do |user| %>
    <p id="<%= user.id %>" class="hover:bg-gray-200 hover:cursor-pointer px-2 py-1" 
        data-action="click->select7#selectTag" value="<%= user.id %>" selected-display="<%= user.name%><<%= user.email%>>">
        <span class="text-xs font-bold pointer-events-none"><%= user.name %></span><span class="ml-1 text-xs font-light italic pointer-events-none"><%= "<#{user.email}>" %></span>
    <p>
<% end %>