<div class="w-full m-5">
  <div class="w-full flex justify-between">
    <%= render 'layouts/header' %>
  </div>
  <% if user_signed_in? %>
    <div class="w-full mt-5 flex justify-between border-t-2 border-gray-300">
      <div>
        <%= render 'users/brief_profile' %>
        <%= render 'messages/summary' %>
        <%= render 'interviews/summary' %>
      </div>
      <div id="home-content" class="w-full">
        <%= render 'interviews/calendar' %>
      </div>
    </div>
  <% else %>
    <%= render 'layouts/intro' %>
  <% end %>
</div>
