<div class="w-full m-5">
  <%= render 'layouts/header' %>

  <div class="w-full flex justify-between">
    <% if user_signed_in? %>

      <%= turbo_stream_from :messages %>
      <div class="w-72 mt-5 relative">
        <%= render 'interviews/summary' %>
        <hr class="my-2">
        <%= render 'messages/summary' %>
      </div>
    <% end %>
    
    <%= render template: 'messages/index' %>
  </div>
</div>
