<div class="w-full m-2 sm:m-5" data-controller="nav">
  <%= render 'layouts/header' %>

  <div class="w-full flex justify-between relative">
    <% if user_signed_in? %>
      <%= turbo_stream_from :messages %>
      <div data-nav-target="navcontent" class="sm:w-72 sm:mt-5 relative -top-10 -left-2/3 max-w-0 sm:top-0 sm:left-0 sm:max-w-none">
        <%= render 'interviews/summary' %>
        <hr class="my-2">
        <%= render 'messages/summary' %>
        <hr class="my-2">
        <%= render partial: 'contacts/contacts_component', 
            locals: {user: current_user, contacts: @recently_contacts, next_offset: @next_contacts_offset} %>
      </div>
    <% end %>

    <%= render template: 'messages/index', locals: {filter_tags: "all"} %>
  </div>

  <%= render 'layouts/footer' %>

  <% if current_user&.need_setup? %>
    <%= render partial: "users/setup" %>
  <% end %>
</div>
