<%= turbo_frame_tag "home-content", class: "w-full sm:p-5" do %>
  <div class="w-full sm:w-2/3 rounded-md border border-gray-200 m-2 sm:m-5 p-1 sm:p-5 text-xs">
    <%= link_to "<-Back", message_path(@message), data: {"turbo-frame": "home-content"} %>

    <%= form_with(model: [@message, @applying], class: "w-full text-xs") do |form| %>
        <div class="my-5">
            <%= form.limit_text_area :intro, limit: 500, rows: 14, placeholder: "briefly introduce yourself, this is private message", class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="flex justify-end inline">
            <%= form.submit "Submit", class: "rounded-lg py-2 sm:py-1 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        </div>
    <% end %>

  </div>
<% end %>
